In [ ]:
# import libiries 
#this libiraies used for sending email to your self
from bs4 import BeautifulSoup
import requests
# used in time.sleep()
import time
import datetime
import smtplib
import csv
import pandas as pd

In [ ]:
pd.set_option("display.max_rows",None)

In [ ]:
#connect to web site
URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'
#how to get user agent by this link https://httpbin.org/get and then take text of user-agent an put here in user-agent
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page=requests.get(URL,headers=headers)
soup1 = BeautifulSoup(page.content, "html.parser")
soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
# how to get data using id 
title=soup2.find(id="productTitle").get_text()
# how to get all data have the same class and then filter it to found what u want  
x=soup2.find_all("span", class_="a-offscreen")
price=x[0].get_text()


print(title)
print(price)

In [ ]:
price=price.strip()[1:]
title=title.strip()

In [ ]:
today=datetime.date.today()
print(today)

In [ ]:
header=['Title','Price',"Date"]
data=[title,price,today]

with open('AmazonDataset.csv','w',newline='',encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [ ]:

df=pd.read_csv(r'C:\Users\AhmedAli\AmazonDataset.csv')
df.head()

In [ ]:
#how to append on file using mode a+
with open('AmazonDataset.csv','a+',newline='',encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [46]:
def check_price():
    URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
    page=requests.get(URL,headers=headers)
    soup1 = BeautifulSoup(page.content, "html.parser")
    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
    title=soup2.find(id="productTitle").get_text()
    x=soup2.find_all("span", class_="a-offscreen")
    price=x[0].get_text()
    price=price.strip()[1:]
    title=title.strip()
    today=datetime.date.today()
    with open('AmazonDataset.csv','a+',newline='',encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [56]:
import pandas as pd
df=pd.read_csv(r'C:\Users\AhmedAli\AmazonDataset.csv')
df.head()

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-01-11
1  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-01-11
2  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-01-11
3  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-01-11
4  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-01-11

In [ ]:
#this function to append a new column each 5 second
while(True):
    check_price()
    time.sleep(86400) #number five mean five second

In [62]:
import pandas as pd
df=pd.read_csv(r'C:\Users\AhmedAli\AmazonDataset.csv')
df

                                                Title  Price        Date
0   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-01-11
1   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-01-11
2   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-01-11
3   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-01-11
4   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-01-11
5   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-01-11
6   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-01-11
7   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-01-11
8   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-01-11
9   Funny Got Data MIS Data Systems Business Analy...  16.99  2022-01-11
10  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-01-11

In [76]:
# If uou want to try sending yourself an email 
# out with this script
import smtplib
def send_mail():
    server = smtplib.SMTP_SSL('smtp.gmail.com',465)
    server.ehlo()
    #server.starttls()
    server.ehlo()
    server.login('ahhmeadali1256@gmail.com','ahmedali1234')
    
    subject = "The Shirt you want is below $15! Now is your chance to buy!"
    body = "Ahmed, This is the moment we have been waiting for. Now is your chance to pick up the shirt of your dreams. "
   
    msg = f"Subject: {subject}\n\n{body}"
    
    server.sendmail(
        'ahhmeadali1256@gmail.com',
        msg
     
    )